/** A custom stylesheet.
 * Add your own CSS styles here, making use of the `class` option 
 * for many MyST directives
 */

/* Limit image size */
.technology-icons img {
  height: 4rem;
}

/* Ensure that images are centered along rows */
.technology-icons .grid {
  justify-items: center;
}

.technology-icons > * {
  padding-top: 0rem !important;
}


/* Add community community-logos
/* Limit image size */
.community-logos img {
  height: 4rem;
}

/* Ensure that images are centered along rows */
.community-logos .grid {
  justify-items: center;
}

.community-logos .grid .rounded {
  width: 95%;
}
*/
